@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Heebo', sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    min-height: max-content;
    background-color: whitesmoke;

}
.container{
    width: 100%;
    margin: 50px 0px;

}
.cards{
    background-color: #16AE58;
    justify-content: flex-start;
    width: 70%;
    height: 70%;
    border-radius: .7rem;
    padding: 1.5rem;
    position: relative;
    color: black;

}

.content{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;

}
.content h1{
    font-size: 3rem;
    font-weight: 800;
    padding: 10px 0px;
    color: #C6E115;
    font-family: 'Russo One', sans-serif;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    
}
.content p{
    font-size: 1.2rem;
    font-weight: 600;
   
}
.cards img{
    position: absolute;
    width: 250px;
    height: auto;
    object-fit: cover;
    transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    left: 50%;
}
.cards:hover img{
    transform: scale(1.6);
}
@media screen and (max-width: 2000px) and (min-width: 1370px) {
     .cards{
        width: 80%;
        height: 350px;
    }
    .content p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1300px) {
    .cards{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: min-content;
        width: 90%;
    }
    .cards img{
        position: relative;
        left: 0;
    }
    .content{
        width: 100%;
    }
    .content p{
        font-size: 1rem;
    }
    .content h1{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 800px) {
    .cards{
       width: 90%;
       height: 500px;
    }
}
@media screen and (max-width: 650px) {
    .main{
        flex-direction: column;
    }
    .cards{
        margin: 10px;
    }
    .cards img{
        width: 60%;
    }
}
@media screen and (max-width: 450px) {
    .cards{
        height: 400px;
    }
    
    .container{
        margin: 20px 0px;
        
    }
    .content p{
        font-size: .8rem;
    }
    .content h1{
        font-size: 1.1rem;
    }
}